@{
  Layout = "_Layout";
}

@model PDXBandIndex.Models.Show

<h4>Add a new show</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Venue)
  @Html.TextBoxFor(model => model.Venue, new { required = "required" })
  @Html.LabelFor(model => model.Date)
  @Html.TextBoxFor(model => model.Date, new { type = "date", required = "required" })
  @Html.LabelFor(model => model.Time)
  @Html.TextBoxFor(model => model.Time, new { type = "time", required = "required" })
  @Html.LabelFor(model => model.Info)
  @Html.TextBoxFor(model => model.Info, new { required = "required" })
  @Html.LabelFor(model => model.Flyer)
  @Html.TextBoxFor(model => model.Flyer)
  @Html.HiddenFor(model => model.Favorite)
  <input type="submit" value="Add new show" />
}
<p>@Html.ActionLink("Show all Shows", "Index")</p>