@{
  Layout = "_Layout";
}

@model PDXBandIndex.Models.Show

<h2>Edit</h2>

<h4>Edit this Show: @Html.DisplayFor(model => model.Venue)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ShowId)

  @Html.LabelFor(model => model.Venue)
  @Html.EditorFor(model => model.Venue)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>