@{
  Layout = "_Layout";
}

@model PDXBandIndex.Models.Show;

<h1>Favorite @Html.DisplayFor(model => model.Venue)</h1>
<p>@Html.DisplayNameFor(model => model.Date): @Html.DisplayFor(model => model.Date.Month)/@Html.DisplayFor(model => model.Date.Day)/@Html.DisplayFor(model => model.Date.Year)</p>

@using (Html.BeginForm())
{
@Html.HiddenFor(model => model.ShowId)
@Html.HiddenFor(model => model.Venue, new { htmlAttributes = new { @readonly = "readonly" } })
@Html.HiddenFor(model => model.Info, new { htmlAttributes = new { @readonly = "readonly" } })
@Html.HiddenFor(model => model.Date, new { htmlAttributes = new { @readonly = "readonly" } })
@Html.HiddenFor(model => model.Time, new { htmlAttributes = new { @readonly = "readonly" }  })
<input type="checkbox" name="Favorite" value="true" checked>
<button type="submit">Favorite!</button>
}
