@{
  Layout = "_Layout";
}

@using PDXBandIndex.Models;
@model List<PDXBandIndex.Models.Show>;
@* @model PDXBandIndex.Models.Show; *@

<p><strong>See Today's Shows On The Home Page!</strong></p>
<div class="row">
  <div class="col-md-6">
    <h1>Upcoming Shows!</h1>
    <hr />
    @if (@Model.Count == 0)
    {
      <h3>No Shows have been added yet!</h3>
    } 
    <ul>
      @using (Html.BeginForm())
      {
      <div class="upcomingShows">
        @for(int i = 0; i < Model.Count; i++)
        {
          <li>@Html.ActionLink($"{Model[i].Venue}", "Details", new { id = Model[i].ShowId }) - @Html.ActionLink($"{Model[i].Date.Month}/{Model[i].Date.Day}/{Model[i].Date.Year}", "Details", new { id = Model[i].ShowId}) @Html.DisplayFor(Model => Model[i].ShowId)
          <br>
          @Html.DisplayFor(Model => Model[i].Time, new { htmlAttributes = new { type = "time" }})
          @Html.HiddenFor(Model => Model[i].ShowId)
          @Html.HiddenFor(Model => Model[i].Venue, new { htmlAttributes = new { @readonly = "readonly" } })
          @Html.HiddenFor(Model => Model[i].Info, new { htmlAttributes = new { @readonly = "readonly" } })
          @Html.HiddenFor(Model => Model[i].Date, new { htmlAttributes = new { @readonly = "readonly" } })
          @Html.HiddenFor(Model => Model[i].Time, new { htmlAttributes = new { @readonly = "readonly" }  })
          @Html.CheckBoxFor(Model => Model[i].Favorite, new { disabled = "disabled" })
          <hr />
          </li>
        }
      </div>
      }
    </ul>
  </div>
  <div class="col-md-6">
    <h1>Favorited Shows!</h1>
    <hr />
    <div class="row favs">
      @if (Enumerable.Count(ViewBag.Shows) == 0)
      {
        <h6 class="no-fav">No favorites have been added yet!</h6>
        <p class="no-fav">Please click on a show and then click on the favorite button to add the show to this list!</p>
      }
      else
      {
        @foreach (var shows in ViewBag.Shows)
        {
          <div class="card favCard">
            <p>@Html.ActionLink($"{shows.Venue}", "Details", new { id = shows.ShowId })</p>
            <br>
            <p>@Html.ActionLink($"{shows.Date.Month}/{shows.Date.Day}/{shows.Date.Year}", "Details", new { id = shows.ShowId })</p>
          </div>
        }
      }
    </div>
  </div>
</div>  


@if (User.Identity.Name == "test@test.com")
{
<p>@Html.ActionLink("Add new Show", "Create")</p>
@* <p>@Html.ActionLink("Home", "Index", "Home")</p> *@
}