@{
  Layout = "_Layout";
}

@using PDXBandIndex.Models;

<h1>Upcoming Shows!</h1>

@if (@Model.Count == 0)
{
  <h3>No Shows have been added yet!</h3>
} 

<ul>
  @foreach(Show show in Model)
  {
    <li>@Html.ActionLink($"{show.Venue}", "Details", new { id = show.ShowId }) - @Html.ActionLink($"{show.Date.Month}/{show.Date.Day}/{show.Date.Year}", "Details", new { id = show.ShowId})</li>
  }
</ul>

<p>@Html.ActionLink("Add new Show", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>