@{
  Layout = "_Layout";
}

@using PDXBandIndex.Models;
@model List<PDXBandIndex.Models.Show>;

<p><strong>See Today's Shows On The Home Page!</strong></p>
<div class="row">
  <div class="col-md-6">
    <h1>Upcoming Shows!</h1>
    <hr />
    @if (@Model.Count == 0)
    {
      <h3>No Shows have been added yet!</h3>
    } 
    <ul>
      @using (Html.BeginForm())
      {
      <div class="upcomingShows">
        @for(int i = 0; i < Model.Count; i++)
        {
          <li>@Html.ActionLink($"{Model[i].Venue}", "Details", new { id = Model[i].ShowId }) - @Html.ActionLink($"{Model[i].Date.Month}/{Model[i].Date.Day}/{Model[i].Date.Year}", "Details", new { id = Model[i].ShowId})
          <br>
          @Html.CheckBoxFor(x => x[i].Favorite, "1")
          <hr />
          </li>
        }
      </div>
      <input type="submit" value="Favorite" /> 
      }
    </ul>
  </div>
  <div class="col-md-6">
    <h1>Favorited Shows!</h1>
    <hr />
    @foreach (var shows in ViewBag.Shows)
    {
      <li>@Html.ActionLink($"{shows.Venue}", "Details", new { id = shows.ShowId })</li>
    }

  </div>
</div>  

<p>@Html.ActionLink("Add new Show", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>