@{
  Layout = "_Layout";
}

@model PDXBandIndex.Models.Band

<h1><strong>@Html.DisplayFor(model => model.Name)</strong></h1>
<hr />
<div class="row">
  <div class="col-md-4">
    <h3>@Html.DisplayNameFor(model => model.Description):</h3> <p>@Html.DisplayFor(model => model.Description)</p>
    <h3>@Html.DisplayNameFor(model => model.Members):</h3> <p>@Html.DisplayFor(model => model.Members)</p>
    <h3>@Html.DisplayNameFor(model => model.Music):</h3><a href="@Html.DisplayFor(model => model.Music)">Link @Html.DisplayFor(model => model.Name)'s Music!</a> 
    <hr />
  </div>
  <div class="col-md-4">
    @if(@Model.JoinEntities.Count == 0)
    {
      <p>@Html.DisplayFor(model => model.Name) is not assigned to any Genres yet!</p>
    }
    else
    {
      <h4><em>Genres</em> for <strong>@Html.DisplayFor(model => model.Name)</strong></h4>
      <ul>
      @foreach(var join in Model.JoinEntities)
      {
        <p>@Html.ActionLink($"{join.Genre.Name}", "Index", "Genres")</p>
      }
      </ul>
    }
    <hr />
  </div>
  <div class="col-md-4">
    @if(@Model.JoinEntities2.Count == 0)
    {
      <p>@Html.DisplayFor(model => model.Name) has no upcoming shows.</p>
    }
    else
    {
      <h4><em>Shows</em> @Html.DisplayFor(model => model.Name) is playing</h4>
      @foreach(var join in Model.JoinEntities2)
      {
        <p>@Html.ActionLink($"{join.Show.Venue}", "Index", "Shows")</p>
      }
    }
    <hr />
    @* <ul>
      @foreach(var join in Model.JoinEntities)
      {
        @* <li>@join.Category.Name</li> 
        @using (Html.BeginForm("DeleteGenre", "Bands"))
        {
          @Html.Hidden("joinId", @join.GenreBandId)
          <input type="submit" value="Delete from @join.Genre.Name"/>
        }
      }
    </ul> *@
  </div>
</div>

<p>@Html.ActionLink("Back to list", "Index")</p>
@if (User.Identity.Name == "test@test.com")
{
<p>@Html.ActionLink("Edit Band", "Edit", new { id = Model.BandId })</p>
<p>@Html.ActionLink("Delete Band", "Delete", new { id = Model.BandId })</p>
<p>@Html.ActionLink("Add a Genre to this band", "AddGenre", new { id = Model.BandId })</p>
<p>@Html.ActionLink("Add this band to a show!", "AddShow", new { id = Model.BandId })</p>
}