@{
  Layout = "_Layout";
}

@using PDXBandIndex.Models;
@model IEnumerable<PDXBandIndex.Models.Band>

<h1 class="welcome"><u>Welcome to the PDX Band Index!</u></h1>
<p>View shows from local bands. Keep track of them by adding them to your favorites!</p>
<div class="row">
  <div class="col-md-3">
    <hr />
    <button class="options">@Html.ActionLink("🎙️Check out the Bands🎙️", "Index", "Bands")</button>
    <hr /> 
    <button class="options">@Html.ActionLink("🎸See all Genres🎸", "Index", "Genres")</button>
    <hr />
    <button class="options">@Html.ActionLink("🥁Check for Shows🥁", "Index", "Shows")</button>
    <hr />
    <button class="options">@Html.ActionLink("🔍Search🔍", "Search", "Home")</button>
    <hr />
  </div>
  <div class="col-md-6 middle">
    <h3 class="upcoming">Upcoming Shows</h3>
    <hr />
    <div class="row midCard">
      @if (Enumerable.Count(ViewBag.Shows) == 0)
      {
        <h1>Wait a minute..</h1>
        <p>There are no upcoming shows! This really sucks!</p>
        <p>Contact Isaac at <a href="gmail.com">isaacoverstreet3@gmail.com</a> to add a show!</p>
      }
      else
      {
        @foreach (var shows in ViewBag.Shows) {
          <div class="card c1">
            <p>@Html.ActionLink($"{shows.Venue}", "Details", "Shows", new { id = shows.ShowId })</p>
            <p>@Html.ActionLink($"{shows.Date.Month}/{shows.Date.Day}/{shows.Date.Year}", "Details", new { id = shows.ShowId })</p>
          </div>
        }
      }
    </div>
  </div>
  <div class="col-md-3 onToday">
    <h3 class="upcoming">Shows Today!</h3>
    <hr />
    <div class="today">
      @if (Enumerable.Count(ViewBag.TodayShows) == 0)
      {
        <h2>Oh No!</h2>
        <p>No shows today!</p>
        <p>Go find something else to do.</p>
      }
      else
      {
      @foreach (var shows in ViewBag.TodayShows)
      {
        <div class="card today-shows">
          <p>@Html.ActionLink($"{shows.Venue}", "Details", "Shows", new { id = shows.ShowId })</p>
          <p>@Html.ActionLink($"{shows.Date.Month}/{shows.Date.Day}/{shows.Date.Year}", "Details", new { id = shows.ShowId })</p>
          @if (shows.Date == System.DateTime.Today)
          {
            <h5 class="change-color"><strong>TODAY!</strong></h5>
          }
        </div>
      }
      }
    </div>
  </div>
</div>
<div class="card c2">
  <h3>This Site Creators Bands!</h3>
  <div class="row myBands">
    @foreach (var bands in ViewBag.Bands) {
      <div class="c3">
        <p>@Html.ActionLink($"{bands.Name}", "Details", "Bands", new { id = bands.BandId }) & Cranefist!</p>
      </div>
      <div class="col-md-6 myBands">
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/5FtKVf1rasGlo4D7egBc6t?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
      </div>
      <div class="col-md-6 myBands">
        <iframe style="border: 0; width: 100%; height: 380px;" src="https://bandcamp.com/EmbeddedPlayer/track=2732492770/size=large/bgcol=333333/linkcol=e32c14/minimal=true/transparent=true/" seamless><a href="https://cranefistband.bandcamp.com/track/parents">Parents by Cranefist</a></iframe>
      </div>
    }
  </div>
</div>
<br>
<br>