@{
  Layout = "_Layout";
}

@model PDXBandIndex.Models.Band

<h1>Search For Bands, Genres or Venues!</h1>
@* <p>Shows must be searched by Venue name.</p> *@
<hr />

<div class="search-box">
  @using (Html.BeginForm())
  {
    <div class="search-box-place row">
      @Html.TextBoxFor(model => model.Search, new {placeholder="Search", @class="form-control text-center", @style="width: 40rem; margin: auto;" })
    </div>  
    <input type="submit" class="btn btn-primary mt-2" value="Search!" />
  }
</div>
<br>
<div class="row">
  <div class="col-md-4 col4">
    @if (@ViewBag.Bands.Count == 0)
    {
      <h3>No Search Results Avalible for Bands.</h3>
      <p>Please try a new search.</p>
    }
    else
    {
      <h3>Bands From Search:</h3>
      <hr />
      @foreach (var bands in ViewBag.Bands)
      {
        <div class="card search-card">
          <li>@Html.ActionLink($"{bands.Name}", "Details", "Bands", new { id = bands.BandId })</li>
        </div>
      }
    }
  </div>
  <div class="col-md-4 col4">
    @if (@ViewBag.Genres.Count == 0)
    {
      <h3>No Search Results Avalible for Genres.</h3>
      <p>Please try a new search.</p>
    }
    else
    {
      <h3>Genres From Search:</h3>
      <hr />
      @foreach (var genres in ViewBag.Genres)
      {
        <li>@Html.ActionLink($"{genres.Name}", "Index", "Genres")</li>
      }
    }
  </div>
  <div class="col-md-4 col4 col4right">
    @if (@ViewBag.Shows.Count == 0)
    {
      <h3>No Search Results Avalible for Shows.</h3>
      <p>Please try a new search.</p>
    }
    else
    {
      <h3>Shows From Search:</h3>
      <hr />
      @foreach (var shows in ViewBag.Shows)
      {
        <li>@Html.ActionLink($"{shows.Venue}", "Details", "Shows", new { id = shows.ShowId })</li>
      }
    }
  </div>
  @* @if (@ViewBag.Bands.Count > 0)
  {
    @foreach (var bands in ViewBag.Bands)
    {
      <div class="card">
        <h3>@Html.ActionLink($"{bands.Name}", "Details", "Bands", new { id = bands.BandId })</h3>
      </div>
    }
  }

  @if (@ViewBag.Shows.Count > 0)
  {
    <h3><ul>SHOWS:</ul></h3>
    @foreach (var shows in ViewBag.Shows)
    {
      <li>@Html.ActionLink($"{shows.Venue}", "Details", "Shows", new { id = shows.ShowId })</li>
    }
  } *@
</div>