@{
  Layout = "_Layout";
}

@model PDXBandIndex.Models.Genre;

<h2>Genre Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Genre does not contain any Bands yet.</p>
}
else
{
  <h4>Bands the Genre contains:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Band.Name</li>
  }
  </ul>
}


<p>@Html.ActionLink("Back to genres", "Index")</p>
<p>@Html.ActionLink("Edit Genre", "Edit", new { id = Model.GenreId })</p>
<p>@Html.ActionLink("Delete Genre", "Delete", new { id = Model.GenreId })</p>